@font-face{
    font-family: "ComputerModern";
    font-style: normal;
    font-weight: normal;
    src: url("cmuserif_roman/cmunrm-webfont.eot"),
         url("cmuserif_roman/cmunrm-webfont.woff");
}

@font-face{
    font-family: "ComputerModern";
    font-style: italic;
    font-weight: normal;
    src: url("cmuserif_oblique/cmunti-webfont.eot"),
         url("cmuserif_oblique/cmunti-webfont.woff");
}

@font-face{
    font-family: "ComputerModern";
    font-style: normal;
    font-weight: bold;
    src: url("cmuserif_bold/cmunbx-webfont.eot"),
         url("cmuserif_bold/cmunbx-webfont.woff");
}

@font-face{
    font-family: "ComputerModernTypewriter";
    font-style: normal;
    font-weight: normal;
    src: url("cmutypewritertext_roman/cmuntt-webfont.eot"),
         url("cmutypewritertext_roman/cmuntt-webfont.woff");
}


h1, h2, h3, h4, h5, h6,
p, li {
    font-family: "ComputerModern", serif;
}
code {
    font-family: "ComputerModernTypewriter", monospace;
}

p, li {
    font-size: 13pt;
    text-align: justify;
}

p {
    text-indent: 1.33em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    margin: 0em;
}
p, ul, ol, dl {
    margin-bottom: 0.7em;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
}